# ignore most things in the build folder
/build/*
!/build/resources

# Mac OS X and Xcode stuff
.DS_Store

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

# SimTower
SIMTOWER.EXE
SIMTOWER.EX_

# CMake
source/CMakeCache.txt
source/CMakeFiles/
source/Makefile
source/OpenSkyscraper
source/cmake_install.cmake

# Kate temp files
*~

# Various go garbage files
_*
8.out
*.8